.EDITOR_CONTENT {
  --mdc-editor-border-color: 220 13% 86%;
  --mdc-editor-border-style: dashed;
  --mdc-editor-border-width: 2px;
  overflow: visible !important;

  &:focus-visible {
    outline: none;
  }

  & > p:not(:has(span)):not(:first-child) {
    margin-top: 1.5rem;
  }

  & h2.prose-h2:first-child {
    margin-top: 2.5rem;
  }

  & h3.prose-h3:first-child {
    margin-top: 2rem;
  }

  & h4.prose-h4:first-child {
    margin-top: 1.5rem;
  }

  & h5.prose-h5:first-child {
    margin-top: 1.5rem;
  }

  & h6.prose-h6:first-child {
    margin-top: 1.5rem;
  }

  & code {
    font-size: 0.875rem;
    line-height: 1.25rem;
    position: relative;
    border-radius: 0.25rem;
    padding: 0.2rem 0.3rem;

    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

    --un-bg-opacity: 1;
    background-color: hsl(var(--muted) / var(--un-bg-opacity)) /* hsl(var(--muted)) */;
  }

  & > div {
    &:has(.LANGUAGE_WRAPPER) {
      margin-top: 1.5rem;
    }
  }

  & p a {
    text-underline-offset: 4px;
    text-decoration-line: underline;
    font-weight: 600;
  }

  & .prosemirror-flat-list {
    padding-top: 0.5rem;
    margin-left: 1.5rem;

    &:first-child,
    :not(&) + & {
      padding-top: 1.5rem;
    }
  }

  /* CodeGroupEditor */
  & .\[\&\:not\(\:first-child\)\]\:mt-5 {
    margin-top: 1.25rem;
  }
  & div[data-node-view-root="true"]:first-child > div > .\[\&\:not\(\:first-child\)\]\:mt-5 {
    margin-top: 0rem;
  }
}

.animate-scroll-fade-in-up {
  animation: fade-in-up linear;
  animation-timeline: view();
  animation-range: 0 25dvh;
}

.docs-content:not(.EDITOR_CONTENT) > * {
  --una-enter-translate-y: 5dvh;
  --una-enter-opacity: 0.5;
  animation: una-in linear;
  animation-timeline: view();
  animation-range: 0 25dvh;
}