.EDITOR_CONTENT {
  --mdc-editor-border-color: 220 13% 86%;
  --mdc-editor-border-style: dashed;
  --mdc-editor-border-width: 2px;
  overflow: visible !important;

  &:focus-visible {
    outline: none;
  }

  /* & > p:not(:has(span)):not(:first-child) { */
  & p:not(:first-child) {
    --at-apply: "leading-7 [&:not(:first-child)]:mt-6";
  }

  & h2.prose-h2:first-child {
    margin-top: 2.5rem;
  }

  & h3.prose-h3:first-child {
    margin-top: 2rem;
  }

  & h4.prose-h4:first-child {
    margin-top: 1.5rem;
  }

  & h5.prose-h5:first-child {
    margin-top: 1.5rem;
  }

  & h6.prose-h6:first-child {
    margin-top: 1.5rem;
  }

  & code {
    --at-apply: "px-1.5 py-0.5 text-sm font-mono font-medium rounded-md inline-block border bg-muted/50";
  }

  & pre {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    --at-apply: "p-3 rounded-lg border bg-muted/30! text-card-foreground shadow-sm overflow-x-auto";

    & code {
      --at-apply: "bg-transparent p-0 border-none";
    }
  }

  [in-stack="true"] pre {
    --at-apply: "rounded-none border-b-none border-l-none border-r-none shadow-none";
  }
  .FRONTMATTER pre {
    --at-apply: "rounded-none border-none shadow-none bg-transparent";
  }

  & > div {
    &:has(.LANGUAGE_WRAPPER) {
      margin-top: 1.5rem;
    }
  }

  & p > a {
    text-underline-offset: 4px;
    text-decoration-line: underline;
    font-weight: 600;
  }

  & .prosemirror-flat-list {
    padding-top: 0.5rem;
    margin-left: 1.5rem;

    &:first-child {
      padding-top: 1.5rem;
    }
  }
  &:not(.prosemirror-flat-list) + .prosemirror-flat-list {
    padding-top: 1.5rem;
  }

  /* CodeGroupEditor */
  & .\[\&\:not\(\:first-child\)\]\:mt-5 {
    margin-top: 1.25rem;
  }
  & div[data-node-view-root="true"]:first-child > div > .\[\&\:not\(\:first-child\)\]\:mt-5 {
    margin-top: 0rem;
  }
}

.underline-none {
  text-decoration: none !important;
}

.animate-scroll-fade-in-up {
  animation: fade-in-up linear;
  animation-timeline: view();
  animation-range: 0 25dvh;
}

.page-content:not(.EDITOR_CONTENT) > * {
  --una-enter-translate-y: 5dvh;
  --una-enter-opacity: 0.5;
  animation: una-in linear;
  animation-timeline: view();
  animation-range: 0 25dvh;
}
